langchain
langchain-huggingface
langchain-community
faiss-cpu
sentence-transformers
chromadb
python-dotenv
pypdf
tqdm
pandas
scikit-learn
rouge-score
nltk
streamlit
plotly
langchain-openai
langchain-google-genai
langchain-groq
